* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[disabled] {
  opacity: 0.7;
}
button:active {
  opacity: 0.8;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading label {
  font-size: 2rem;
  color: #ffffff;
}

.formField {
  margin-bottom: 0.25rem;
}

input,
button {
  padding: 0.5rem;
  width: -webkit-fill-available;
  border-radius: 0.15rem;
}

.resetPassaword {
  background: transparent;
  color: #1d168f;
  border: none;
}
.solid {
  background: #1d168f;
  color: #ffffff;
  border: none;
}
.clear {
  background: transparent;
  color: #1d168f;
  border: 1px solid #1d168f;
}

.errorLogin {
  color: #ffffff;
  font-size: 13px;
  background: red;
  display: none;
}
