body {
  background: #ffffff;
  height: 100vh;
}

form {
  width: 300px;
  padding: 1.5rem;
  border: 1px solid #1d168f;
  border-radius: 0.25rem;
}

button {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
}
label {
  color: black;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}
input {
  color: black;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}