body {
  background: #ffffff;
  height: 100vh;
}

form {
  width: 300px;
  padding: 1.5rem;
  border: 1px solid #1d168f;
  border-radius: 0.25rem;
}

button {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
}
label {
  color: black;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}
input {
  color: black;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.orText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza verticalmente no eixo Y *
  margin-top: 20px; /* Ajuste a margem conforme necessário */
}

/* Estilos para o botão de registro com o Google */
.googleRegisterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0.2rem;
}

.googleRegisterButton:hover {
  background-color: #357ae8;
}

.googleIcon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
